.navList{
    display:flex;
    list-style-type: none;
    margin: 0;
    justify-content: flex-end;
    
}

.item {
    /* margin: 7px; */
    list-style-type: none;
    text-decoration: none;
    }

.button {
    color:#4dc3ff;
    text-decoration: none;
    font-size: 1.3rem;
    margin-right: 1.5rem;
}

.button:hover {
    color: #0099e6;
}

.activeButton{
    color:#0066cc;
    text-decoration: underline;
    text-decoration-color: #0066cc;
}