

nav{
    /* background: black; */
    background: #264653;
    padding: 10px 40px 0 40px;
}

nav ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

nav ul li{
    padding: 15px 0;
    /* cursor: pointer; */
}

nav ul li.items{
    position: relative;
    width: auto;
    margin: 0 10px;
    text-align: center;
    order: 3;
}

/* nav ul li.items:after{
    position:absolute;
    content: '';
    left: 0;
    bottom: 24px;
    height: 2px;
    width: 100%;
    background: #33ffff;
    opacity: 0;
    transition: all 0.2s linear;
} */

nav ul li.items:hover:after{
    opacity: 1;
    bottom: 26px;
}

nav ul li.logo{
    flex: 1;
    color:white;
    font-size: 23px;
    font-weight: 600;
    cursor: default;
    user-select: none;
    outline: none;
}

nav ul li a{
    color:#E9C46A;
    font-size: 22px;
    text-decoration: none;
    /* transition: 0.2s; */
    outline: none;
}

.navButton:hover{
    /* color: cyan; */
    color: #fcf7e9;
    cursor: pointer;
}


.activeButton{
    color:#E76F51;
    text-decoration: underline;
    text-underline-offset: 0.35rem;
}

.showMenuBtn, .hideMenuBtn{
    transition: 0.4s;
    color: white;
    cursor: pointer;
     display: none;
}

.showMenuBtn:hover, .hideMenuBtn:hover{
    color: cyan;
}

/* .showMenuBtn{
    float: right;
}
.showMenuBtn i{
    line-height: 900px;
}  */

#chk{
    position: absolute;
    visibility: hidden;
    z-index: -999;
}


@media all and (max-width: 570px){

    .showMenuBtn, .hideMenuBtn{
        display: block;
    }

    nav{
        padding: 10px 20px 0 20px;
    }

    nav ul li.items{
        width: 100%;
        display:none;
    }

    /* nav ul li.items.show{
        display:block;
    }  */

    
    .hideMenuBtn{
        position: absolute;
        top: 25px;
        right: 25px;
        display: none;
    }

    .showMenuBtn{
        position: absolute;
        top: 25px;
        right: 25px;
    }
   

    nav ul li.items:hover{
        border-radius: 25px;
        /* box-shadow: inset 0 0 5px #33ffff,
                    inset 0 0 7px #66ffff; */
    }

    nav ul li.items:after{
        bottom: 5px;
   
    }
    
    nav ul li.items:hover:after{
        opacity: 0;
    }

    #chk:checked ~ .items{
        
        display:block;
        
    }

     #chk:checked ~ .hideMenuBtn{
        
        display:block; 
        
    
}
        #chk:checked ~ .showMenuBtn{
         
        display:none; 

} 

}