.albumContainer{
    display: flex;
    flex-direction: column;
    /* background: #ffb3b3; */
    /* background: linear-gradient(180deg, #ff9999, #ffb3b3); */
    background: #F4A261;

    padding: 20px;
    width: 40%;
    height: 100%;
    margin-top: 4rem;
    margin-bottom: 10rem;
    margin-left: 30%;
    border: 1px solid black;
    border-radius: 24px;
}

.albumHead{
    background: #E76F51;
    padding: 1rem;
    text-align: center;
    font-size: 30px;
    
}

.gradeWrapper{
    display: flex;
    justify-content: end;
    margin: 0;
}

.albumLogo{
    margin-top: 0;
    display: flex;
    justify-content: center;
}

.albumInfo{
    margin-top: 3rem;
    display:flex;
    justify-content: center;
    font-size: 20px;
}

.infoNiz{
    list-style: circle;
}

.albumPjesme{
    /* margin-left: 30%; */
    display: flex;
    justify-content: center;
}

.albumTekst{
    width: 90%;
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
}

.albumNiz{
    list-style: upper-roman;
}

.albumLink{
    text-decoration: none;
    color:  #2A9D8F;
}

.albumLink:hover, .albumToArtistlink:hover{
    color:  #ffe6e6;
}

.albumToArtistlink{
    text-decoration: none;
    color:  #2A9D8F;
}




.gradeText{
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    font-size: 24px;
}

.ratingContainer{
    
    margin-top: 0;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    text-align: center;
}

.rating-wrapper input{
    display: none;
}

.rating-wrapper{
    direction: rtl;
    
}


.rating-wrapper label{
    display: inline-block;
    width: 60px;
    position: relative;
    cursor: pointer;
    
}

.rating-wrapper label:before{
    content: "\2605";
    position: absolute;
    font-size: 70px;
    display: inline-block;
    top:0;
    left: 0;
    color:  #e6e6e6;
}


.rating-wrapper label:after{
    content: "\2605";
    position: absolute;
    font-size: 70px;
    display: inline-block;
    top:0;
    left: 0;
    color: #ffff4d;
    opacity: 0;
}


.rating-wrapper label:hover:after,
.rating-wrapper label:hover ~ label:after,
.rating-wrapper input:checked ~ label:after{
    opacity: 1;
}



.cancelGradeWrapper{
    display: flex;
    justify-content: center;
}

.cancelGrade{
    display:block;
    color:white;
    text-align: center;
    background: #ffcccc;
    margin-top: 25px;
    text-decoration: none;
    padding: 5px 1px;
    width: 130px;
    border: 1px solid black;
    border-radius: 24px;
    cursor: pointer;
}

.cancelGrade:hover{
    transform: scale(1.1);
    transition: 0.15s;
    background: #e62e00;;
}


.albumBackButton{
    display:block;
    color:white;
    text-align: center;
    background: green;
    position: relative;
    bottom: 160px;
    margin-left: 30%;
    text-decoration: none;
    padding: 5px 1px;
    width: 80px;
    border: 1px solid black;
    border-radius: 24px;
}

.albumBackButton:hover{
        transform: scale(1.15);
        box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
        text-decoration: none;
        transition: 0.25s;
}





@media only screen and (max-width: 1240px) {
    .albumContainer{
        width: 60%;
        margin-left: 20%;
    }

    .albumBackButton{        
        margin-left: 20%;
    }

}

@media only screen and (max-width: 720px) {
    

    .albumBackButton{        
        bottom: 135px;
    }

}

@media only screen and (max-width: 650px) {
    .albumContainer{
        width: 90%;
        margin-left: 5%;
    }
    
    .albumPjesme{
        width: 100%;
    }

    .albumBackButton{        
        margin-left: 5%;
    }

    .albumHead{
        font-size: 1px;
    }

    .albumTitle{
    font-size: 28px;
    }
}

@media only screen and (max-width: 440px) {

    

.rating-wrapper label{
    width: 40px;
    
}

.rating-wrapper label:before{
    font-size: 50px;
    
}


.rating-wrapper label:after{
    font-size: 50px;
    
}


}

@media only screen and (max-width: 310px) {

    

    .rating-wrapper label{
        width: 30px;
        
    }
    
    .rating-wrapper label:before{
        font-size: 40px;
        
    }
    
    
    .rating-wrapper label:after{
        font-size: 40px;
        
    }
    
    
    }