*{
    box-sizing: border-box;
}

.card-container3{
    width:100%;
    margin: 70px auto;
    
}

.heading3{
    font-size: 30px;
    margin-left: calc(7% + 5rem);
}


.imgHolder{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    
}

.star{
    width: 80px;
    min-height: 30px;
    max-height: auto;
}


.card-row3{
    width: 80%;
    /* margin-top: 1rem; */
    margin-bottom: 9rem;
    
    margin-left: calc(7% + 3rem);
    margin-right: 10%;
    display: flex;  
    flex-direction: row;
    justify-content: left;
    flex-flow: wrap;
}

.card3{
     width: 22%;
    background: #fff;
    /* border: 1px solid red; */
    margin-bottom: 50px;
    margin-left: 2rem; 
    transition: 0.3s;
    text-decoration: none;
    border: 1px solid black; 
    /* border-radius: 25px; */
    /* border: 1px solid black; */
}

.card3 h1{
    margin-bottom: 20px;
}

.card-header3{
    text-align: left;
    padding-left: 5%;
    background:  #468847;
    color: #1f4261;
    border-bottom: none;
    /* padding-bottom: 1px; */
    /* border-radius: 21px 21px 0 0; */
}

.card-header3 h1{
    margin-bottom: 6px;
}

.card-body3{
    padding: 0 20px 0 20px;
    /* padding-bottom: 0px; */
    text-align: left;
    font-size: 18px;

    border-radius: 0 0 25px 25px;
}

.picture3{
    /* border-radius: 20%; */
    width: 150px;
    min-height: 120px;
    max-height: auto;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.card3:hover{
    transform: scale(1.1);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
    text-decoration: none;
}

.kategorija-kartice{
    margin-top: 1.5rem;
}

.kategorija-kartice, .godina-kartice, .madeby-kartice {
    font-weight: 550; 
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
}

/* .madeby-kartice{
    font-size: 24px;
} */

.link-artist{
    font-size: 28px;
    font-weight: 650; 
    color: #468847;
    text-decoration: none;
}

.link-artist:hover{
    color: #abd4ac;
}

.searchWrapper3{
    margin-top: 80px;
    margin-left: calc(7% + 5rem);
    margin-bottom: 30px;
    /* padding: 10px 30px; */
    transform: translate(0%, -20%);
    border-radius: 50px;
}

.searchBar3 {
    width: 300px;
    height: 40px;
    border-radius: 50px;
    border: 2px solid #eaeaea;
    padding: 0px 10px;
    /* padding: 1rem 0.5rem; */
    font-size: 17px;
}

.searchWrapper3::after {
    content: '🔍';
    right: 15px;
}

.searchBar3:focus{
     width: 380px; 
    border-color: #9bca9b;
    outline: none;
     transition: 0.25s;
    
}

@media only screen and (max-width: 1500px){
    .card3{
        width: 30%;
    }
    .card-row3{
    margin-left: 10%;
    }
    .heading3, .searchWrapper3{
        margin-left: calc(7% + 4.1rem);
    }
}

@media only screen and (max-width: 1344px){
    .card3{
        width: 45%;
    }
    .card-row3{
        justify-content: space-evenly;
    }

    .heading3, .searchWrapper3{
        margin-left: calc(7% + 4rem);
    }

}

@media only screen and (max-width: 900px){
    .card3{
        width: 80%;
    }

    .card-row3{
        margin-left: 8%;
    }

    .heading3, .searchWrapper3{
        margin-left: calc(7% + 5rem);
    }

    
}

@media only screen and (max-width: 678px){

    .card3{
        width: 90%;
        margin-left: 0%;
        margin-right: 0%;
    }

    .card-row3{
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
    }

    .heading3, .searchWrapper3{
        margin-left: 10%;
    }

    

    .searchBar3{
        width: 60%;
    }

    .searchBar3:focus{
        width: 70%;
    }
}

@media only screen and (max-width: 480px){

    .card3{
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
    }

    .card-row3{
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
    }
    .heading3, .searchWrapper3{
        margin-left: 5%;
    }

    

    .searchBar3{
        width: 70%;
        margin-left: 0%;
    }

    .searchBar3:focus{
        width: 85%;
    }

}