*{
    box-sizing: border-box;
}

.card-container2{
    width:85%;
    margin: 70px auto;
    
}

.heading2{
    font-size: 30px;
    margin: 3rem;
}

.card-row2{
    margin-top: 2rem;
    margin-bottom: 9rem;

    display: flex;  
    flex-direction: row;
    justify-content: space-evenly;
    flex-flow: wrap;
}

.card2{
    width: 30%;
    background: #fff;
    border: 1px solid red;
    margin-bottom: 50px;
    margin-left: 2rem;
    transition: 0.3s;
    text-decoration: none;
    border: 2px solid yellow;
    border-radius: 24px;
}

.card-header2{
    text-align: left;
    /* padding: 1rem; */
    padding-left: 5%;
    background: #77a9d4;
    color: #1f4261;
    border: 2px solid yellow;
    border-bottom: none;
    border-radius: 24px 24px 0 0;
}

.card-body2{
    padding: 20px;
    text-align: left;
    font-size: 18px;

}

.picture{
    border-radius: 50%;
    width: 120px;
    min-height: 120px;
    max-height: auto;
    height: auto;
    display: block;
  margin-left: auto;
  margin-right: auto;
}


.card2:hover{
    transform: scale(1.15);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
    text-decoration: none;
}


.tekst-kartice{
    font-weight: 600; 
    text-decoration: none;
    
}
.tekst-kartice:link{
color: red;
}



.searchWrapper{
    margin: 10px auto;
    margin-left: 1rem;
    padding: 10px 30px;
    transform: translate(0%, -20%);
    
}

.searchBar {
    width: 300px;
    height: 40px;
    border-radius: 50px;
    border: 3px solid #eaeaea;
    padding: 0px 10px;
    /* padding: 1rem 0.5rem; */
    font-size: 17px;
}

.searchWrapper::after {
    content: '🔍';
    right: 15px;
}

.searchBar:focus{
    width: 380px;
    border-color: red;
    transition: 0.25s;
}

@media only screen and (max-width: 1272px){

    .card-container2{
        width:95%;
        margin: 0.8rem;
    }

    .card-row2{
        justify-content: space-evenly;
    }

    .card2{
        width: 30%;
        margin-left: 1rem;
    }

    .heading2{
        margin-left: 3rem;
    }

     .searchBar{
        width: 400px;
    } 

    .searchBar:focus{
        width: 440px;
    }

}

@media only screen and (max-width: 1010px) {
    .card-container2{
        width:90%;
        margin-left:5.4rem;
        margin-right: 1rem;
    }
    .heading2{
        margin-bottom: 0.5rem;
    }
    .card2{
        width:40%;
        
    }

    .card-row2{
        justify-content: left;
    }

     /* .searchBar{
        margin-right: 2rem;
    }  */

    
}

@media only screen and (max-width: 966px) {
    .card-container2{
        margin-left:4.4rem;
        margin-right: 2rem;

    }
}

@media only screen and (max-width: 786px){
    .card-container2{
        width:80%;
        margin-left: 6rem;
        margin-right: 6rem;
    }
    .card2{
        width:40%;
    }

    

    .searchWrapper{
        width: 100%;
    } 

    .searchBar{
        width: 70%;
    }

    .searchBar:focus {
        width: 80%;
    }

    .heading2{
        margin-left: 3rem;
        margin-bottom: 0rem;
    }
}


@media only screen and (max-width: 570px){

    .card-container2{
        width:90%;
        margin: 0.8rem;
    }
    .card2{
        width:70%;
    }

    .card-row2{
        justify-content: space-evenly;
    }

    .searchWrapper{
        width: 100%;
    }

    .searchBar{
        width: 90%;
    }

    .searchBar:focus {
        width: 90%;
    }

    .heading2{
        /* padding:10px; */
        margin: 3.5rem;
        margin-bottom: 0rem;
    }
}