*{
    box-sizing: border-box;
}

.card-container2{
    width:100%;
    margin: 70px auto;
    
}

.heading2{
    font-size: 30px;
    margin: 3rem;
    margin-left: 22.5%;
}

.card-row2{
    margin-top: 2rem;
    margin-bottom: 9rem;

    display: flex;  
    flex-direction: row;
    justify-content: space-evenly;
    flex-flow: wrap;
}

.card2{
    width: 55%;
    background: #fff;
    /* border: 1px solid red; */
    margin-bottom: 50px;
    padding-bottom: none;
    
    transition: 0.3s;
    text-decoration: none;
    border: 2px solid black; 
    /* border-radius: 25px; */
}

.card-header2{
    text-align: left;
    /* padding: 1rem; */
    /* padding-left: 5%; */
    background:  #468847;
    color: #1f4261;
    /* border: 2px solid #468847; */
    border-bottom: none;
    /* padding-bottom: 1px; */
    /* border-radius: 21px 21px 0 0; */
}

.artistTitleHeader{
    text-decoration: none;
    color: black;
    font-weight: 400;
    margin-left: 10px;
    
    /* padding-bottom: 10px; */
}

.card-body2{
    padding: 10px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    text-align: right;
    font-size: 18px;
    
    display: flex;
    justify-content: flex-end;
}

.card-body2 img{
    margin-bottom: 10px;
}

.card-body2 p{
    margin-bottom: 10px;
}

.picture2{
    /* border-radius: 50%; */
    width: 220px;
    min-height: 120px;
    max-height: auto;
    height: auto;
    display: block;
    margin-right: auto;
}


.card2:hover{
    transform: scale(1.1);
    text-decoration: none;
}


.tekst-kartice2{
    width: 28%;
    margin-top:4rem;
    font-size: 20px;
    background: none;
    font-weight: 500; 
    color: black;
    text-decoration: none;
    
}




.searchWrapper2{
    /* margin: 10px auto; */
    margin-top: 5rem;
    margin-left: 22.5%;
    /* padding: 10px 30px; */
    transform: translate(0%, -20%);
    border-radius: 50px;
}

.searchBar2 {
    width: 300px;
    height: 40px;
    border-radius: 50px;
    border: 3px solid #eaeaea;
    padding: 0px 10px;
    /* padding: 1rem 0.5rem; */
    font-size: 17px;
}

.searchWrapper2::after {
    content: '🔍';
    right: 15px;
}

.searchBar2:focus{
     width: 380px; 
    border-color: #9bca9b;
    outline: none;
     transition: 0.25s;
    
}



@media only screen and (max-width: 926px){

    .card2{
        width: 75%;
    }

    .searchWrapper2{
        
        margin-left: 12.5%;
    }
    

    .heading2{
        margin-left: 12.5%;
    }

}


@media only screen and (max-width: 666px){

    .card2{
        width: 90%;
        margin-right: 0;
        padding-right: 0;
    }

    .card2:hover{
        transform: scale(1.05);
        text-decoration: none;
    }
    
    .searchWrapper2{
        margin-left: 5%;
        
    }

    .heading2{
        margin-left: 5%;
    }

    .card-body2{
        display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    }

    .picture2{
        /* width: 100%; */
    }

    .tekst-kartice2{
        margin-top: 4.5rem;
        width: 50%;
    }
    
}

@media only screen and (max-width: 595px){

    .tekst-kartice2{
        margin-top: 4rem;
    }

}

@media only screen and (max-width: 515px){

    .picture2{
        width: 100%;
    }

    .tekst-kartice2{
        margin-top: 1rem;
        width: 100%;
        font-size: 17px;
    }

}

@media only screen and (max-width: 400px){

    .searchBar2{
        width: 70%;
    }

    .searchBar2:focus{
        width: 80%;
    }


}