
$blue: #1686d9;

.mainContainer{
    width:88%;
    margin: 70px auto;
}


.title {
    margin: 2rem 17.5rem;
}


.posts {
    list-style-type: none;
    margin: 0;
    margin-top: 3rem;
}

.singlePost{
    margin: 2rem 17.5rem;
    
    a {
        //background-color: #ffcccc;
        background-color: #F4A261;
        color: black;
        display: block;
        padding: 1rem;
        text-decoration: none;
        // max-width: 720px;
        border: 1px solid black;
        border-radius: 24px;
    }

    a:hover {
        background: #fad5b7;
    }

    h3{
        margin-bottom: 0;
        font-size: 1.3rem;
    }

    p {
        color: #8c8c8c;
        font-size: .9rem;
        font-style: italic;
    }
}



  .bgModal {
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	display: none;
	justify-content: center;
	align-items: center;
}

.modalContents {
	height: 400px;
	width: 600px;
	background-color: #E9C46A;
	text-align: center;
	padding: 10px;
	position: relative;
	border-radius: 4px;
}
 

.buttonPopUp{
	background-color: #F4A261;
	border: 1px solid black;
	border-radius: 30px;
	text-decoration: none;
	padding: 10px 28px;
    color: black;
   
	
	display: inline-block;
	&:hover {
		background: #fad5b7;
		// color: #ffcccc;
		// border: 1px solid #ffcccc;
	}
}


.popupButtonsContainer{
    margin-top: 4.5rem;
    margin-bottom: 9rem;

    display: flex;  
    flex-direction: row;
    justify-content: center;
    flex-flow: wrap;
}

.buttonCancelPopUp{
    background-color: #ffcccc;
	// border: 1px solid #e62e00;
	border-radius: 30px;
	text-decoration: none;
	padding: 10px 28px;
    color: black;
    margin-right: 10px;
	
	display: inline-block;
	&:hover {
		background: #e62e00;
		color: white;
		// border: solid #ffcccc;
	}
}

.buttonSubmitPopUp{
    background-color:#80ffaa;
	// border: 1px solid #00e64d;
	border-radius: 30px;
	text-decoration: none;
	padding: 10px 28px;
	color: black;
	
	display: inline-block;
	&:hover {
		background: #009933;
        // border: 1px solid #009933;
		color: white;
		
	}


}



.buttonPopUp{
    margin: 2rem 17.5rem 0.1rem;
}

// .buttonSubmitPopUp{
//     margin-top: 3.7rem;
// }

.close {
	position: absolute;
	top: 0;
	right: 0px;
	font-size: 42px;
	color: red;
	transform: rotate(45deg);
	cursor: pointer;
	&:hover {
		color:  #ff9999;
	}
}





.inputTitle, .inputText {
	margin: 15px auto;
	display: block;
	width: 70%;
	padding: 8px;
    border: 1px solid gray;
    border-radius: 18px;
}


.inputText{
    resize: none;
}

.inputTitle:focus, .inputText:focus{
    border: 2px solid #E76F51;
    width: 73%;
    outline: none;
    transition: 0.25s;
}


@media only screen and (max-width: 1224px) {
    .title{
        margin: 3rem;
    }
    .singlePost {
        margin: 1.5rem 3rem;
    }
    .buttonPopUp{
        margin: 1.5rem 3rem;
    }

    .inputText{
        height: 5em;
    }
    
    .popupButtonsContainer{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .modalContents {
        height: 300px;
        width:90%;
    }

    

  }

  @media only screen and (max-width: 700px) {
    .popupButtonsContainer{
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    .modalContents {
        height: 350px;
        width: 500px;
    }

    .modalContents {
        width: 90%;
        
    }

    .inputText{
        height: 8em;
    }


  }
  @media only screen and (max-width: 430px) {
    .modalContents {
        height: 400px;
        width: 500px;
    }
    .inputTitle, .inputText{
        width: 87%;
    }

    .inputText{
        height: 10em;
    }
    .inputTitle:focus, .inputText:focus{
        width: 91%;
    }

    

    .modalContents {
        width: 90%;
        
    }

    .popupButtonsContainer{
        margin-top: 1.5rem;
        margin-bottom: 0rem;
    }

    .buttonCancelPopUp, .buttonSubmitPopUp{
        width: 87%;
        
    }

    .buttonSubmitPopUp{
        margin-top: 10px;
        margin-bottom: 10px;
    }

  }

  @media only screen and (max-width: 370px) {
    .title{
        margin: 1.5rem;
    }
    .singlePost {
        margin: 2rem 1.5rem;
    }
    .buttonPopUp{
        margin: 1rem 1.5rem;
    }
    
    .modalContents {
        width: 95%;
        
    }

    .inputTitle, .inputText{
        width: 92%;
    }

    .popupButtonsContainer{
        margin-top: 1.3rem;
        // margin-bottom: 1rem;
    }

    
  }

 