
$blue: #1686d9;

.mainContainer{
    width:88%;
    margin: 70px auto;
}


.title {
    margin: 2rem 14rem;
}


.posts {
    list-style-type: none;
    margin: 0;
    margin-top: 3rem;
}

.singlePost{
    margin: 2rem 14rem;
    
    a {
        //background-color: #ffcccc;
        background-color: #ffb3b3;
        color: black;
        display: block;
        padding: 1rem;
        text-decoration: none;
        // max-width: 720px;
        border: 1px solid black;
        border-radius: 24px;
    }

    a:hover {
        background: #ff6666;
    }

    h3{
        margin-bottom: 0;
        font-size: 1.3rem;
    }

    p {
        color: #8c8c8c;
        font-size: .9rem;
        font-style: italic;
    }
}



  .bgModal {
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	display: none;
	justify-content: center;
	align-items: center;
}

.modalContents {
	height: 400px;
	width: 600px;
	background-color: #f2e6ff;
	text-align: center;
	padding: 10px;
	position: relative;
	border-radius: 4px;
}
 

.buttonPopUp,  .buttonSubmitPopUp{
	background-color: #ffb3b3;
	border: 1px solid black;
	border-radius: 30px;
	text-decoration: none;
	padding: 10px 28px;
	color: black;
	
	display: inline-block;
	&:hover {
		background: #ff6666;
		color: #ffcccc;
		border: 1px solid #ffcccc;
	}
}

.buttonSubmitPopUp:hover{
    background: #009933;
    border: 2px solid #009933;
}

.buttonPopUp{
    margin: 2rem 14rem 0.1rem;
}

.buttonSubmitPopUp{
    margin-top: 3.7rem;
}

.close {
	position: absolute;
	top: 0;
	right: 0px;
	font-size: 42px;
	color: red;
	transform: rotate(45deg);
	cursor: pointer;
	&:hover {
		color: #cc0052;
	}
}





.inputTitle, .inputText {
	margin: 15px auto;
	display: block;
	width: 70%;
	padding: 8px;
    border: 1px solid gray;
    border-radius: 18px;
}


.inputText{
    resize: none;
}

.inputTitle:focus, .inputText:focus{
    border: 3px solid #468847;
    width: 73%;
    outline: none;
    transition: 0.25s;
}


@media only screen and (max-width: 1024px) {
    .title{
        margin: 3rem;
    }
    .singlePost {
        margin: 1.5rem 3rem;
    }
    .buttonPopUp{
        margin: 1.5rem 3rem;
    }
    
    .buttonSubmitPopUp{
        margin-top: 0.7rem;
    }

    .modalContents {
        height: 300px;
        width:90%;
    }

    

  }


  @media only screen and (max-width: 430px) {
    .modalContents {
        height: 300px;
        width: 500px;
    }
    .inputTitle, .inputText{
        width: 87%;
    }

    .inputTitle:focus, .inputText:focus{
        width: 91%;
    }

    .buttonSubmitPopUp{
        margin-top: 1.7rem;
    }

    .modalContents {
        width: 80%;
        
    }

  }

  @media only screen and (max-width: 320px) {
    .title{
        margin: 1.5rem;
    }
    .singlePost {
        margin: 0.4rem 1.5rem;
    }
    .buttonPopUp{
        margin: 0rem 1.5rem;
    }
    

  }

 