.posts {
    list-style-type: none;
    margin: 0;
    margin-top: 3rem;
}

.singlePost{
    margin: 1rem 0;

    a {
        background-color: #ffcccc;
        color: black;
        display: block;
        padding: 1rem;
        text-decoration: none;
        // max-width: 720px;
    }

    a:hover {
        background: #ff8080;
    }

    h3{
        margin-bottom: 0;
        font-size: 1.3rem;
    }

    p {
        color: #8c8c8c;
        font-size: .9rem;
        font-style: italic;
    }
}