/* body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
 */

 .box{
     /* width: 400px;
     padding: 40px;
     margin-top: 10rem;
     margin-bottom: 10rem;
     margin-left: 40%; */
     /* transform: translate(-50%, -50%); */
     display: flex;
     flex-direction: column;
     /* background: rgba(0,0,0, 0.3); */
     background: #264653;
     
     text-align: center;
     padding: 20px;
     width: 35%;
     height: 100%;
     margin-top: 6rem;
     margin-bottom: 10rem;
     margin-left: 34%;
 }

 .box h1{
     color: white;
     text-transform: uppercase;
     font-weight: 500;
     margin-bottom: 40px;
 }

 
 .box input[type="text"], .box input[type="password"]{
     border:0;
     background: none;
     display:block;
     margin: 20px auto;
     text-align: center;
     border: 2px solid #ffffff;
     padding: 14px 10px;
     width: 240px;
     outline: none;
     color: white;
     border-radius: 24px;
     transition: 0.25s;
     font-weight: 200;
 }

 .box input[type="text"]:focus, .box input[type="password"]:focus{
    width: 280px;
    border-color: #4f964f;

}

.box input[type="button"]{
     border:0;
     background: #80ffaa;
     display:block;
     margin: 20px auto;
     text-align: center;
     /* border: 2px solid #80ffaa; */
     padding: 14px 40px;
     outline: none;
     color: black;
     font-weight: 900;
     border-radius: 24px;
     /* transition: 0.15s; */
     cursor: pointer;
}

.box input[type="button"]:hover{
    background: #009933;
    /* border: 2px solid #009933; */
}


.log-in-container {
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: 25%;
    height: 100%;
    margin: auto;
  }

  @media only screen and (max-width: 1024px) {
    .box {
        width: 80%;
        margin-left: 10%;
    }

    .box input[type="text"], .box input[type="password"]{
        width: 350px;
    }
    
  }

  @media only screen and (max-width: 996px) {
    .box {
        width: 80%;
        margin-left: 10%;
    }

    .box input[type="text"]:focus, .box input[type="password"]:focus{
        width: 80%;
        /* border-color: red; */
    
    }



    .box input[type="text"], .box input[type="password"]{
        width: 70%;
    }
    
  }

